LANGCHAIN_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your_langsmith_key
LANGSMITH_PROJECT=your_project_name

# defaults to openai, but I recommend groq for testing, since openai/gpt-oss-120b works giga well
# for deepeval with groq, both must be set, since judge uses openai
OPENAI_API_KEY=your_open_ai_key
GROQ_API_KEY=your_groq_key
